*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: nunito;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  font-size: 1.8rem;
  color: #F2F2F2;
}

.header_admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_navigation {
  width: 20%;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header_navigation__list {
  list-style: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header_navigation__list:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header_navigation__link {
  text-decoration: none;
  color: #F2F2F2;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header_navigation__link:hover {
  color: #65CCBB;
}

.container {
  color: #F2F2F2;
  font-size: 2.5rem;
}

.container__heading {
  -webkit-animation: forvisibility 1s ease-out .75s;
          animation: forvisibility 1s ease-out .75s;
}

.login_heading {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(101, 204, 187, 0.85)), to(rgba(87, 186, 152, 0.85)));
  background-image: linear-gradient(to right, rgba(101, 204, 187, 0.85), rgba(87, 186, 152, 0.85));
  color: #F2F2F2;
  padding: 2rem;
  font-size: 3rem;
  letter-spacing: 2px;
}

.login_form--label {
  color: #18262B;
  font-size: 1.6rem;
  font-weight: 500;
}

.login_form--input {
  padding: 1rem;
  border: none;
  -webkit-box-shadow: 1px 2px 5px rgba(24, 38, 43, 0.3);
          box-shadow: 1px 2px 5px rgba(24, 38, 43, 0.3);
  -webkit-transition: all .5s;
  transition: all .5s;
  border-bottom: 3px solid transparent;
}

.login_form--input:focus {
  outline: none;
  border-bottom: 3px solid #57BA98;
}

.login_form--input::-webkit-input-placeholder {
  color: rgba(58, 78, 85, 0.8);
}

@-webkit-keyframes forvisibility {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes forvisibility {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.gotohomePageLink {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #57BA98;
  border-bottom: 1px solid rgba(101, 204, 187, 0.5);
  width: 40%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.gotohomePageLink:active, .gotohomePageLink:hover {
  -webkit-transform: scaleX(1.05);
          transform: scaleX(1.05);
}

.container__startTestBtn {
  font-size: 1.6rem;
  border: none;
  color: #18262B;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 50px;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: none;
}

.container__startTestBtn:hover, .container__startTestBtn:active {
  -webkit-transform: scaleX(1.05);
          transform: scaleX(1.05);
}

.loginBtn {
  border: none;
  padding: 1rem 2rem;
  letter-spacing: 2px;
  font-size: 1.6rem;
  background-color: #18262B;
  color: #F2F2F2;
  border-radius: 5px;
  outline: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.loginBtn:active {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 1rem;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (min-content(100px, 1fr))[1];
      grid-template-columns: repeat(1, min-content(100px, 1fr));
}

.container__heading {
  grid-column: span 1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container__startTestBtn {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  grid-column: span 1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.loginBody {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 8rem auto;
}

.signUpBody {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 1rem auto;
}

.containerLogin {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 45rem;
}

@media (max-width: 575px) {
  .containerLogin {
    width: 30rem;
  }
}

.login_form {
  display: -ms-grid;
  display: grid;
  padding: 2rem 2rem;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 2rem;
}

.input {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-row-gap: .5rem;
  grid-column: minmax(100px, min-content);
}

.loginBtn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-weight: 500;
}

.header {
  background-color: #18262B;
}

.container {
  height: 90vh;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(87, 186, 152, 0.85)), to(rgba(101, 204, 187, 0.85))), url(../../images/homePageImage.jpg);
  background-image: linear-gradient(to right, rgba(87, 186, 152, 0.85), rgba(101, 204, 187, 0.85)), url(../../images/homePageImage.jpg);
  background-size: 100%;
}

.containerLogin {
  -webkit-box-shadow: 1px 2px 5px rgba(24, 38, 43, 0.3);
          box-shadow: 1px 2px 5px rgba(24, 38, 43, 0.3);
  border: 0px;
  border-radius: 15px;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */