  
  .loginBody{
    display:grid;
    grid-template-columns:repeat(3,1fr);
   margin:8rem auto;

  }
  .signUpBody{
    display:grid;
    grid-template-columns:repeat(3,1fr);
   margin:1rem auto;
  }
  .containerLogin{
    grid-column:2/3;
    width:45rem;

     @media (max-width:575px){
       width:30rem;
     }
  }

  .login_form{
    display:grid;
    padding:2rem 2rem;
   
    grid-template-rows:repeat(3,1fr); 
    grid-row-gap: 2rem;
     
  }

  .input{
      display:grid;
      grid-template-rows: 1fr 1fr; 
      grid-row-gap:.5rem;
      grid-column:minmax(100px,min-content);

  }

  .loginBtn{
      align-self:center;
      justify-self: center; 
      font-weight:500;
  }